body {
    background-color: rgb(139, 135, 139);
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(131, 83, 148);
    color: white;
    font-size: min(5vw, 2em);
    padding-block: 1em;
}